* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}

/* -----------------------
    header section started
-------------------- */

/* --navbar section styles-- */

header {
    background: rgba(255, 144, 14, 0.1);
    padding: 0 230px;
    padding-top: 20px;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;

}

.menu-items {
    display: flex;
    gap: 40px;

}

.menu-items a,
li {
    text-decoration: none;
    list-style: none;
    color: #424242;
}


/* --banner section styles--*/

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    padding: 0 200px;
    text-align: center;
    margin-bottom: 30px;
}

.banner-information {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;
    padding: 0 100px;
    margin-bottom: 32px;
}

.primary-button {
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
}

.banner-iamge {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

/* quick list section */

.quick-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 85px;

}

.team-image-container img {
    width: 230px;
}


.team-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;

}

.team-images img {
    border-radius: 8px;
}

.feature-content-title {
    font-weight: 700;
    font-size: 45px;
}

.feature-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin: 24px 0 32px 0;

}

/* features section styles */
.features-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 100px 200px;
    column-gap: 50px;
    padding: 0px;

}

.custom-color-header {
    display: flex;
    gap: 12px;
}

.custom-color {
    padding: 30px 2px;
    background: #FF900E;
    margin-bottom: 25px;
}

.features-main-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 15px;
}

.features-main-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.features-lists h5 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}

.features-lists p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.features-lists div {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 10px;
}

.features-items {
    width: 390px;
    margin-bottom: 100px;
}

.architect-image {
    margin-left: 50px;
}

.architect-image img {
    width: 650px;
}

.ten-years-button {
    color: #FFFFFF;
    padding: 42px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    transform: translate(-30px, -100px);
}

.ten-years-button h1 {
    font-weight: 700;
    font-size: 45px;
}

.ten-years-button p {
    font-weight: 500;
    font-size: 25px;
}

/* facts section styles */
.facts-container{
    display: flex;
    padding: 0 200px;

}
.fact-content{
    margin-right: 600px;
}
.fact-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 20px;
}

.fact-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}



@media screen and (max-width: 576px) {

    .team-images {
        grid-template-columns: 1fr;
    }

    .quick-list-container {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .feature-content {
        padding: 0 40px;
        margin-top: 20px;
        justify-content: center;
        text-align: center;
    }

    .team-image-container img {
        width: 400px;
    }
}